@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    .container{
        @apply mx-auto px-4 sm:px-6 lg:px-8
    }
}

@layer components {
    .hero-card *{
        @apply w-full h-full
    }
    .no-spinner {
        -moz-appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
}